
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
p {
  margin: 0;
  padding: 0;
}
.App {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 100px;
}
.App p {
  margin-bottom: 50px;
  /* font-size: 2.4rem; */
}
.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 460px;
}
.dd-wrapper {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: relative;
  /* width: 222px; */
}
.dd-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 1px solid #dfdfdf;
  /* border-radius: 3px; */
  cursor: default;
  position: relative;
  background-color: #fff;
}
.dd-header span {
  margin-right: 5px;
}
.dd-header-title {
  /* font-weight: 300; */
  margin: 2px 20px;
  margin-right: 30px;
}
.angle-down {
  color: #000;
  margin-right: 20px;
}
.dd-list {
  z-index: 10;
  position: absolute;
  width: 100%;
  border: 1px solid #dfdfdf;
  border-top: none;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  background-color: #fff;
  -webkit-box-shadow: 0 2px 5px -1px #e8e8e8;
          box-shadow: 0 2px 5px -1px #e8e8e8;
  /* font-weight: 700; */
  padding: 15px 0;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  max-height: 400px;
}
.dd-list-item {
  width: 100%;
  /* font-size: 1.5rem; */
  padding: 2px 8px;
  line-height: 1.6rem;
  cursor: default;
  display: inline-block;
  text-overflow: ellipsis;
}
.dd-list-item.selected {
  color: #fff;
  background-color:#0074D9;
  border: 1px solid;
}
.dd-wrapper-single {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: relative;
  /* width: 265px; */
}
.dd-wrapper-single .dd-header {
  border: 1px solid #ccc;
}
.dd-wrapper-single .dd-header .dd-header-name {
  font-weight: 400;
}
.dd-wrapper-single .dd-list {
  border: 1px solid #ccc;
  border-top: none;
}
